body {
    padding-top: 80px;
    padding-bottom: 60px;
}


footer-rigth{
    float: right;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    width: auto;
    /*padding-left: 15px;
    padding-right: 15px;*/
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
